# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it should be included in source control
#!**/packages/repositories.config

# Rider
.idea/

# VS Code
.vscode/

# dotnet core
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
TestResults/
*.trx

# Misc
*.log
*.vsix
